
.ref{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    max-width: 208.5vh;
}
body{
    background-image: url(imagens/fundo.gif);
    background-size: 178vh;
    
    
}
.forms{
    position: relative;
    border: solid #000000 2px;
    width: 60vh;
    height: 80vh;
    max-width: 400px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 7px 8px 9px 2px black;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(3px);
    font-family: monospace;
    overflow: hidden;
    text-shadow: 2px 2px 1px black;
}
input {
    background: transparent;
    font-size: 3vh;
    position: relative;
    width: 110%;
    right: 4.5%;
    height: 15%;
    outline: 0;
    margin-bottom: 5%;
    border-radius: 8px;
    border: solid white 1px;
    color: wheat;
    padding-left: 5%;
    padding-right: 5%;
    font-family: monospace;

}
#email{
    background-color: transparent;

}
.forms h1{
    font-size: 4.5vh;
    position: relative;
    text-align: center;
    bottom: 13%;
}
label{
    font-size: 3vh;
    position: relative;
    right: 4%;
    bottom: 1%;
}
#botão{
    width: 65%;
    height: 12%;
    position: relative;
    left: 18%;
    top: 12%;
    color: white ;
    background: transparent;
    border: solid white 1px;
    border-radius: 5vh;
    font-size: 2.9vh;
    outline: 0;
    font-family: monospace;
    text-shadow: 2px 2px 1px black;
}
.subtitulo-senha{
    position: relative;
    
}
.subtitulo-email{
    position: relative;
}
#senha{
    position: relative;
}
::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    opacity: 75%;
}






